.signup-form{
    padding: 20px;
}

.txt-field{
    border-radius:3px;
    padding: 5px;
    height: 25px;
    border: 2px solid #116181;
    font-size: 15px;
    margin: 1px 0px 8px 0px;
    width: 300px;
}

select{
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin: 1px 0px 8px 0px;
    height: 25px;
}

.signup-form button{
    border-radius: 5px;
    padding: 8px;
    background-color: #116181;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.form-container{
    margin: 15px 0 15px 0;
}

label{
    font-size: 16px;
    color: #116181;
    display: inline-block;
    padding-bottom: 10px;
}