#header {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #1F6BA7;
    top: 0;
}

span {
    font-weight: bold;
    line-height: 40px;
    color: white;
}

.menu-items {
    background-color: #1F6BA7;
    color: white;
    cursor: pointer;
    min-width: 160px;
    z-index: 0;
    display: none;
}

.dropdown-menu{
    text-align: center;
    font-size: large;
    width: 80px;
    background-color: blue;
    float: left;
    margin-right: 30px;
}

.dropdown-menu:hover .menu-items{
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.menu-items li:hover {
    background-color: blue;
}
#help{
    float: left;
    color: white;
    background-color: blue;
    width: 80px;
    text-align: center;
    font-size: large;
}

.link{
    text-decoration: none;
    color: white;
}

.gallery{
    margin: 50px;
}

.image-container{
    margin-right: 20px;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-style: dotted;
    transition: width 2s;
}

.image-container:hover{
    width: 500px;
    height: 500px;
}

.image-container img{
    object-fit: cover;
    height: inherit;
    width: inherit;
}
